name: next-blog

services:
  redis:
    image: redis:alpine
    container_name: ${PROJECT_NAME:-next-blog}-redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: ${PROJECT_NAME:-next-blog}-minio
    restart: unless-stopped
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  postgres:
    image: postgres:17-alpine
    container_name: ${PROJECT_NAME:-next-blog}-postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      args:
        BACKEND_INTERNAL_URL: http://api:${API_PORT}
    container_name: ${PROJECT_NAME:-next-blog}-web
    restart: always
    ports:
      - '${WEB_PORT}:${WEB_PORT}'
    depends_on:
      api:
        condition: service_healthy
    env_file:
      - ./apps/web/.env
    environment:
      PORT: ${WEB_PORT}
      BACKEND_INTERNAL_URL: 'http://api:${API_PORT}'
      STORAGE_PUBLIC_URL: ${STORAGE_PUBLIC_URL}

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: ${PROJECT_NAME:-next-blog}-api
    restart: always
    ports:
      - '${API_PORT}:${API_PORT}'
    volumes:
      - ./apps/api/keys:/app/apps/api/keys
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      minio:
        condition: service_started
    healthcheck:
      test:
        ['CMD', 'wget', '-q', '-O', '/dev/null', 'http://localhost:${API_PORT}/api/health']
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    env_file:
      - ./apps/api/.env
    environment:
      PORT: ${API_PORT}
      DATABASE_URL: 'postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public'
      REDIS_URL: 'redis://redis:6379'
      STORAGE_ENDPOINT: 'http://minio:9000'
      STORAGE_PUBLIC_URL: ${STORAGE_PUBLIC_URL}
      STORAGE_ACCESS_KEY: ${MINIO_ROOT_USER}
      STORAGE_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      ACCESS_TOKEN_PUBLIC_KEY_PATH: 'keys/public.pem'
      ACCESS_TOKEN_PRIVATE_KEY_PATH: 'keys/private.pem'
      APP_FRONTEND_URL: 'http://web:${WEB_PORT}'
      APP_NAME: ${APP_NAME}

volumes:
  postgres_data:
  redis_data:
  minio_data:
